/* ---- main styling -----*/
:root {
    --orange1: #fa9e46;
    --orange2: #f98f2a; 
    --orange3: #fa8125;

    --green1: #8e9b66;
    --green2: #5a6e3a; 
    --green3: #2b4521;
}

body {
    background-color: var(--orange1);
}


/* ---- loader on loading.html ---- */
/*
loading loader from:
https://css-loaders.com/classic/
*/
.loading {
    width: fit-content;
    font-weight: bold;
    font-family: monospace;
    font-size: 30px;
    background:linear-gradient(90deg,var(--green3) 50%,#0000 0) right/200% 100%;
    animation: l21 2s infinite linear;
}

.loading::before {
    content :"Loading...";
    color: var(--orange3);
    padding: 0 5px;
    background: inherit;
    background-image: linear-gradient(90deg,var(--orange1) 50%,var(--green3) 0);
    -webkit-background-clip:text;
            background-clip:text;
}
  
@keyframes l21{
    100%{background-position: left}
}


/* ---- containers ---- */
.section {
    display: flex;
    justify-content: center;
    align-items: center;   
    height: 100vh; 
    overflow: hidden;
}

.heart-button-container {
    display: flex;
    justify-content: center;
    align-items: center;  
    margin-top: -20vh;
}

.scrollable-section {
    display: flex;
    flex-direction: column; 
    margin-right: 10%;
    margin-left: 10%;
    width: 80%;
    height: 100%;
    align-items: center;
}


/* ---- polaroid styling ---- */
.polaroid-photo {
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid:hover .polaroid-photo{
    display: none;
}

.polaroid {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: var(--green1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d; 
    transition: transform 0.6s;  
}

.polaroid:hover {
    transform: rotateY(180deg); 
}

.polaroid-text-front {
    display: flex;
}

.polaroid-text-back {
    display: none;
}

.polaroid-text-front, .polaroid-text-back, .polaroid-static {
    text-align: center;
    justify-content: center; 
    font-family: monospace;
    align-items: center; 
    height: 50px; 
    padding: 20px;
    font-size: 20px;
    margin-top: 10px;
    color: var(--green3);
}

.polaroid:hover .polaroid-text-front {
    display: none;
}

.polaroid:hover .polaroid-text-back {
    display: flex;
}

.polaroid-back {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: var(--green1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    transform: rotateY(180deg); 
    backface-visibility: hidden; 
    position: absolute;
    top: 0;
    left: 0;
}

.polaroid-static {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    background-color: var(--green1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    position: relative;
}

.polaroid-static .polaroid-photo {
    width: 350px;
    height: 350px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid-row {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: 20px;
}


/* ---- typewriter effect on thepast6months.html ---- */
/* 
some lines of code of a typewriting effect from:
https://css-tricks.com/snippets/css/typewriter-effect/
*/

.typewriter h1 {
    overflow: hidden; 
    border-right: .15em solid var(--orange3);
    color: var(--green3);
    white-space: nowrap; 
    margin: 0; 
    letter-spacing: .15em; 
    animation: typing 3.5s steps(40, end) forwards, blink-caret 0.75s step-end 3.5s forwards;
}

@keyframes typing {
    from { 
        width: 0;
    }
    to { 
        width: 100%;
    }
}
  
@keyframes blink-caret {
    from, to { 
        border-color: transparent 
    }
    50% { 
        border-color: var(--orange3); 
    }
}


/* ---- spacer styling ---- */
.spacer {
    height: 200px;
}
  

/* ---- extra text styling ---- */
h2 {
    color: var(--green2);
    font-family: monospace;
    font-weight: bolder;
}
  
  
/* ---- text bubble styling ---- */
/* 
text messages code tweaked from:
https://codepen.io/ezenith/pen/pJLypJ
*/
.text-messages {
    width: 400px;
    padding: 10px;
}

.message-orange {
    float: inline-end;
    position: relative;
    margin-left: calc(100% - 240px);
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--orange3);
    width: fit-content;
    max-width: 200px;
    height: auto;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid var(--orange3);
    border-radius: 10px;
    color: var(--green3)
}

.message-green {
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--green3);
    width: fit-content;
    max-width: 200px;
    height: auto;
    text-align: left;
    font: 400 .9em 'Open Sans', sans-serif;
    border: 1px solid var(--green3);
    border-radius: 10px;
    color: var(--orange2)
}

.message {
    padding: 0;
    margin: 0;
}

.message-photo {
    max-width: 180px;
    height: auto;
}

.message-video {
    max-width: 180px;
    height: auto;
}

/* ---- heart button on yahello!!!!.html ---- */
.heart-button {
    margin-top: 20px;
    display: inline-block;
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
}

.heart-button img {
    width: 100%;
    height: auto;
    display: block;
}

.heart-button:hover {
    transform: scale(1.1);
}


/* iframe spotify playlist / song styling */
iframe {
    border-radius: 12px;
    width: 60%;
    height: 400px;
}